# Ignore source files
src/**
tsconfig.json

# Ignore build artifacts
.vscode/**
.vscode-test/**
node_modules/**
*.vsix

# Ignore git files
.git
.gitignore
.github

# Ignore development files
.eslintrc.js
*.map

# Keep only compiled output
!out/**
